<div class="row fondo">
    <div class="row" style="text-align: center;">
        <h1 class="letraBlanca mt-3">ORDEN DE LOS COLABORADORES PARA IR POR EL GARRAFÓN</h1>
    </div>
    <div class="col align-items-end">
        <img src="assets/agua1.png" class="colaborador mt-5" style="float: right;">
    </div>
    <div class="col">
        <div class="container justify-content-center mt-4 mb-5">
            <table class="table align-middle table-bordered contenidoMpio text-center">
                <tbody>
                    <tr>
                        <th class="letraBlanca" style="font-size: 30PX;">NOMBRE</th>
                        <th class="letraBlanca" style="font-size: 30PX;">RONDA</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Delfino Corona</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Víctor Alfonso Ortiz</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Pablo Enrique Crisanto</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Genaro Jimenez</th>
                        <th class="letraBlanca" style="font-size: 28PX;">1</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Esteban Aguilar</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Pedro Teutle</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Erik Coutiño</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Miguel Angel Ramirez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Edgar Jared Muñoz</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Jesús Gabrielle Ramirez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Misael Joaquin Cano</th>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
    <div class="col" style="align-self: flex-end;">
        <img src="assets/agua2.png" class="colaborador mb-4">
    </div>
</div> 