<div class="row fondo">
    <div class="row">
        <div class="col">
            <img src="assets/cumple0.png" style="float: right; width: 150px; height: 200px;">
        </div>
        <div class="col" style="text-align: center;">
            <h1 class="letraBlanca mt-5">¡FELIZ NO CUMPLEAÑOS!</h1>
        </div>
        <div class="col">
            <img src="assets/cumple0.png" style="float: left; width: 150px; height: 200px;">
        </div> 
    </div>
    
    <div class="col-2">
        <div class="row">
            <img src="assets/cumple1.png" class="globo" style="float: right;">
        </div>
        <div class="row">
            <img src="assets/cumple2.png" class="globo mt-5">
        </div>
        <div class="row">
            <img src="assets/cumple3.png" class="globo mt-5">
        </div>
        <div class="row">
            <img src="assets/cumple4.png" class="globo mt-5">
        </div>
    </div>
        <div class="col-8">
            <div class="container justify-content-center mt-4 mb-5">
                <table class="table align-middle table-bordered contenidoMpio text-center">
                    <tbody>
                        <tr>
                            <th class="letraBlanca" style="font-size: 30PX;">NOMBRE</th>
                            <th class="letraBlanca" style="font-size: 30PX;">CUMPLEAÑOS</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Esteban Aguilar</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Pablo Enrique Crisanto</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Pedro Teutle</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Ing. Carrillo</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Don Javier Aguilar</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Anahí Pérez Sarabia</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Mireya Bonilla</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Doña Elsa</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Jessica Moreno</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Don Pepe</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Rocío Ordoñez</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">María Guadalupe Camacho</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">Delfino Corona</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">María del Socorro</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                        <tr>
                            <th class="letraBlanca" style="font-size: 28PX;">María del Pilar Martínez</th>
                            <th class="letraBlanca" style="font-size: 28PX;">21 ENERO</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div class="col-2">
        <div class="row">
            <img src="assets/cumple1.png" class="globo">
        </div>
        <div class="row">
            <img src="assets/cumple2.png" class="globo mt-5">
        </div>
        <div class="row">
            <img src="assets/cumple3.png" class="globo mt-5">
        </div>
        <div class="row">
            <img src="assets/cumple4.png" class="globo mt-5">
        </div>
    </div>    
</div> 