<div class="row fondo">
    <div class="row" style="text-align: center;">
        <h1 class="letraBlanca mt-3">ORDEN DE LOS COLABORADORES PARA LIMPIAR MICROONDAS Y REFRIGERADOR</h1>
    </div>
    <div class="col" style="align-self: flex-end;">
        <img src="assets/limpieza1.png" class="mb-4" style="float: right;">
    </div>
    <div class="col-6">
        <div class="container justify-content-center mt-4 mb-5">
            <table class="table align-middle table-bordered contenidoMpio text-center">
                <tbody>
                    <tr>
                        <th colspan="2" class="letraBlanca" style="font-size: 30PX;">NOMBRES</th>
                        <th class="letraBlanca" style="font-size: 30PX;">RONDA</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">María del Pilar Martinez</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Alejandrina Rodríguez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Mónica Carrillo</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Nayeli Vazquez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Viviana Contreras</th>
                        <th class="letraBlanca" style="font-size: 30PX;">María Guadalupe Camacho</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Jessica Moreno</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Mónica López</th>
                        <th class="letraBlanca" style="font-size: 28PX;">1</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Lorena Díaz</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Araceli Ramirez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Rocío Ordónez</th>
                        <th class="letraBlanca" style="font-size: 28PX;">María del Socorro</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Belén Lobato</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Ing.Carrillo</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Mireya Bonilla</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Ariadna Hernandez</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 28PX;">Elisa Milan</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Natali Ramírez</th>
                        <th class="letraBlanca" style="font-size: 28PX;">Anahí Pérez Sarabia</th> 
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
    <div class="col">
        <img src="assets/limpieza2.png" class="mt-5">
    </div>
</div> 
