.carouselContine {
    max-width: 1700px; /* Define el ancho máximo de los slides */
    max-height: 400px; /* Define la altura máxima de los slides */
    margin: 0 auto; /* Centra los slides horizontalmente */
}

.iconos{
    width:150px;
    height:150;
    text-align: center;
}
