<div class="carouselContine">
  <ngb-carousel>
    <!--<ng-template ngbSlide>
      <img src="assets/tarjetaErik.svg" alt="cumpleaños">
    </ng-template>-->
    <ng-template ngbSlide>
      <img src="assets/turnoAgua.svg" alt="turnoAgua">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-size: 70px;" class="mb-5 letras">Miguel Ángel Ramírez</h1>
          <br>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/turnoLimpieza.svg" alt="turnoLimpieza">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-size: 60px; color:#1C6383;" class="letras">Rocío Ordoñez</h1>
          <h1 style="font-size: 60px; color:#1C6383;" class="mb-5 letras">María del Socorro</h1>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="col mt-4" style="text-align: center;">
  <label style="font-size: 20px; color: #9FC418; font-weight: bold;" class="letras">{{ fechaActual | date: 'fullDate' }}</label>
</div>
  
<div class="container marketing mt-3">
  <div class="row">
    <div class="col-lg-4" style="text-align: center;">
      <img src="assets/garrafon.svg" alt="garrafon" class="bd-placeholder-img rounded-circle" width="150" height="150">
      <h2 class="fw-normal letras">Rol Garrafon</h2>
      <p class="letras" style="font-size: 18px;">Consulta el orden y a quién le corresponde traer el agua.</p>
    </div>
    <div class="col-lg-4" style="text-align: center;">
      <img src="assets/limpieza.svg" alt="limpieza" class="bd-placeholder-img rounded-circle" width="150" height="150">
      <h2 class="fw-normal letras">Rol Limpieza</h2>
      <p class="letras" style="font-size: 18px;">Revisa el orden y a quién le corresponde limpiar el refrigerador y microondas.</p>
    </div>
    <div class="col-lg-4" style="text-align: center;">
      <img src="assets/cumple.svg" alt="listaCumple" class="bd-placeholder-img rounded-circle center" width="150" height="150">
      <h2 class="fw-normal letras">Cumpleaños de todos</h2>
      <p class="letras" style="font-size: 18px;">¿Ya le compraste regalo a  tu crush? Que no se te pase la fecha.</p>
    </div>
  </div>
</div>

<footer class="piecera">
  <div class="container marketing">
    <div class="row align-items-center">
      <div class="col" style="text-align: center;">
        <img src="assets/logoSIT.svg" alt="SIT" width="210" height="210" class="mt-3 mb-3">
      </div>
      <div class="col">
        <div class="col mb-3" style="text-align: center;">
          <a href="https://miasistencia.puebla.gob.mx/Home/Index" class="letrasEnlaces" style="font-size: 20px; color:#FFFFFF;">Consulta  tus registros de asistencia</a>
        </div>
        <div class="col mb-3" style="text-align: center;">
          <a href="https://comprobantedepago.puebla.gob.mx/Home/Index" class="letrasEnlaces" style="font-size: 20px; color:#FFFFFF;">Obtén tus comprobantes de pago</a>
        </div>
        <div class="col mb-3" style="text-align: center;">
          <a class="letrasEnlaces" style="font-size: 20px; color:#FFFFFF;">¿Problema con Geobox, plantilla catastral o proyecto IRCEP?</a>
        </div>
      </div>
    </div>
  </div>
</footer>